body{
	margin: 0px;
	font-size: 40px;
	font-family:Tahoma;
}
.A{
	  display: flex;
  align-items: center;
  flex-direction: column;
}
.F{
	display: flex;
  align-items: center;
  flex-direction: column;
}
.A1{
	background-color: #dfe1e7;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 10px;
	border-top: solid #687291 1px; 
	transition-duration:transform 5s ;
}
.A1:hover{
	transform: scale(1.3);
	cursor: pointer;
}

.A2{
	background-color:  #eeeff2;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 10px;
	border-top: solid #687291 1px;
	animation-name: ongo;
	animation-duration: 20s;

}
@keyframes ongo{
	30%{
		background-color: red;
	}
	60%{background-color: green;}
	100%{background-color: orange;}
}
.F1{
	
	background-color:  #687291;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 10px;
	border: solid black 4px;
	background-image: linear-gradient(to right,#eeeff2,#687291);
}

p{
	margin-top: 5px;
}
.F2{
	margin-top: 10px;
}
